---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #828282;
$background-color: #ffffff;
$brand-color:      #3d3d3d;
$hexagon-brand-color: #3d3d3d;

$white-color: #fafafa;
$pink-light-color: #f5cAc9;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-small:        1000px;

$box-width: 100px;
$box-indent: 50px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
  ;
