---
layout: page
title: News
permalink: /news/
tags: menu
---

<h2 class="page-heading">Recent Posts</h2>
<ul class="post-list">
  {% for post in site.posts limit:3 %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-meta">[{{ post.date | date: "%m-%-d-%Y" }}]</span>
      </h2>
    </li>
  {% endfor %}
</ul>

<h2 class="page-heading">Older Posts</h2>
<ul class="post-list">
  {% for post in site.posts offset:3 %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-meta">[{{ post.date | date: "%m-%-d-%Y" }}]</span>
      </h2>
    </li>
  {% endfor %}
</ul>

