/**
 * Homepage
 */

#main {
  display: block;
  margin-top: 20px;
}

.text-center {
  text-align: center;
  height: 160px;
  @include media-query($on-palm) {
  	display: none;
  }
}

.home-title {
  color: $header-text-color;
  font-size: 6em;
  width: $full-width;
  letter-spacing: -5px;
}

.inside-text {
  color: $text-color;
  text-align: center;
  font-size: 20px;
}

.warning {
  display:inline-block;
  width: 70%;
  font-size: 18px;
  padding: 5px;
  margin-top: 5%;
  background-color: $warning-color;
  border-radius: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
}

.version {
  font-size: 12px;
  padding-top: 3px;
  @include media-query($on-laptop) {
    font-size: 10px;
  }
}

.hexagon-container {
  margin-top: 5%;
  margin-bottom: $spacing-unit;
}

.hexagon-container .home-text {
  color: $white-color;
  transition: font-size .2s ease-out;
  &:hover {
    font-size: 22px;
  }
  @include media-query($on-laptop) {
    transition: none;
    &:hover {
      font-size:inherit;
    }
  }
}

.hexagon-download {
  position: relative;
  width: 250px;
  height: 144.34px;
  background-color: $pink-color;
  margin: 72.17px 0;
  display: inline-block;
  @include media-query($on-laptop) {
    width: 190px;
    height: 109.70px;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

.hexagon-download:before,
.hexagon-download:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  @include media-query($on-laptop) {
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
  }
}

.hexagon-download:before {
  bottom: $full-width;
  border-bottom: 72.17px solid $pink-color;
  @include media-query($on-laptop) {
    border-bottom: 54.85px solid $pink-color;
  }
}

.hexagon-download:after {
  top: $full-width;
  width: 0;
  border-top: 72.17px solid $pink-color;
  @include media-query($on-laptop) {
    border-top: 54.85px solid $pink-color;
  }
}

.hexagon-download .hexagon-content {
  padding-top: 25px;
  @include media-query($on-laptop) {
    padding-top: 15px;
    font-size: 16px;
  }
}

.hexagon {
  position: relative;
  width: 190px;
  height: 109.70px;
  background-color: $hexagon-background-color;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  margin: 0 $spacing-unit;
  @include media-query($on-laptop) {
    margin: 50px 0;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
  @include media-query($on-laptop) {
    font-size: 27px;
  }
}

.hexagon:before {
  bottom: $full-width;
  border-bottom: 54.85px solid $hexagon-background-color;
}

.hexagon:after {
  top: $full-width;
  width: 0;
  border-top: 54.85px solid $hexagon-background-color;
}

.hexagon-content {
  position: absolute;
  color: $white-color;
  font-size: 24px;
  padding-top: 20%;
  width: $full-width;
  text-align: center;
  @include media-query($on-laptop) {
    font-size: 18px;
  }
}

@include media-query($on-laptop) {
	table, thead, tbody, th, td, tr {
  	display: block;
  }

	td {
  	border: none;
  	position: relative;
    padding-bottom: 5%;
    text-align: none;
	}
}
