/**
 * Homepage
 */

#main {
  display: block;
  margin-top: 20px;
}

.text-center {
  text-align: center;
  height: 160px;
  @include media-query($on-palm) {
  	display: none;
  }
}

.home-title {
  color: #111;
  font-size: 90px;
  width: 100%;
  letter-spacing: -5px;
}

.inside-text {
  color: #828282;
  text-align: center;
  font-size: 20px;
}

.warning {
  display:inline-block;
  width: 70%;
  font-size: 18px;
  padding: 5px;
  margin-top: 5%;
  background-color: #FFEEE1;
  border-radius:.5em;
  margin-left: 10%;
  margin-right: 10%;
}

.version {
  font-size: 12px;
}

.hexa {
  margin-top: 5%;
  margin-bottom: 30px;
}

.hexa a {
  color: #fafafa;
  transition: font-size .2s ease-out;
  &:hover {
    font-size: 22px;
  }
}

.hexagon-download {
  position: relative;
  width: 250px;
  height: 144.34px;
  background-color: #f26359;
  margin: 72.17px 0;
display: inline-block;
}

.hexagon-download:before,
.hexagon-download:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  font-size: 27px;
}

.hexagon-download:before {
  bottom: 100%;
  border-bottom: 72.17px solid #f26359;
}

.hexagon-download:after {
  top: 100%;
  width: 0;
  border-top: 72.17px solid #f26359;
}

.hexagon-download .hexa-content {
  padding: 0;
  padding-top: 25px;
}

.hexagon {
  position: relative;
  width: 190px;
  height: 109.70px;
  background-color: #F58A74;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  margin: 0 30px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 54.85px solid #F58A74;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 54.85px solid #F58A74;
}

.hexa-content {
 position: absolute;
 color: #fafafa;
 font-size: 24px;
 padding-top: 20%;
 width: 100%;
 text-align: center;
}

@include media-query($on-small) {
	table, thead, tbody, th, td, tr {
  	display: block;
  }

	td {
  	border: none;
  	position: relative;
    padding-bottom: 5%;
    text-align-last: center;

    .hexagon {
      margin: 54.85px 0;
    }
	}
}
