/**
 * General Layout
 */

.content {
  margin-top: 50px;
}

.container {
  display: -webkit-flex;
  display: flex;
  margin-top: 50px;
}

.flex-item-3 {
    width: 50%;
    margin: 5px;

    > .inside-image {
      width: 100%;
      margin-top: 30px;
    }

    a {
      color: $pink-color;
    }

}

.flex-item-4 {
    margin-top: 30px;
    width: 50%;
    padding: 15px;

    > .inside-image {
      width: 100%;
    }

    a {
      color: $pink-color;
    }

    .attribution {
      margin-top: 5px;
      font-size: 11px;
    }

}

/**
 * How to Use page
 */

.step-line {
  margin-left: 5%;
  margin-top: 10%;
  padding-top: 5%;
  border-left: $grey-color solid 6px;
}

.step-line ul {
  list-style-type: none;
}

.step-line ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.step-line ul li div {
  position: relative;
  width: 90%;
  padding: 15px;
  background: $light-grey-color;
  left: 25px;
  margin-bottom: 50px;
}

.step-line ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $light-grey-color transparent transparent;
}

.step-line ul li div p {
  margin-left: 10px;
}

.step-line ul li div img {
  margin-top: 5px;
  margin-left: 20px;
  width: 80%;
}

/**
 * Download page
 */

.tor-container {
 margin-top: 30px;
}

.tor-button {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius: 6px;
  border: 2px solid #dcdcdc;
  padding:6px 24px;
  transition: background-color 2s ease-out;
  text-transform: uppercase;
}

.tor-button:hover {
  background-color: $light-grey-color;
}

/**
 * FAQ page
 */

.faq-main {
  padding: 5px 0 2px 0;

  h3 {
   display: inline-block;
   -webkit-transition: color 1s ease-out; /* For Safari 3.1 to 6.0 */
   transition: color 0.5s ease-out;
   cursor: pointer;

   &:hover {
     color: $pink-dark-color;
   }
  }

}

@mixin toggle() {
  overflow: hidden;
  transition: height 0.5s;
  height: 0;
}

$questions: (1, 2, 3, 4, 5);

@each $value in $questions{
	.question{
		label {
			padding: 0.10em;
			color: #666;
			cursor: pointer;
			&:hover {
				color: #000;
			}
			&:after {
			  font-weight: bold;
			  content: "-";
			  text-align: center;
			  vertical-align: super;
			  display: inline-block;
			  width: 40px;
			  height: 40px;
			  margin-left: 7px;
			  background: radial-gradient(ellipse at top, #CCC 50%, transparent 50%);
			}
		}
			input[type="checkbox"] {
			display: none;
			visibility: hidden;
		}
		#toggle_#{nth($value, 1)}{

			&:checked ~ label::after{
				content: "+";
			}

			&:checked ~ #expand_#{nth($value, 1)} {
				@include toggle();
			}
		}
	}

	#expand_#{nth($value, 1)} {
		height: auto;
	}
}

/**
 * What is CoyIM page
 */

.coy-image-wrapper {
  width: 50%;
  margin: 10px 0px 0px 0px;

  > img {
    width: 100%;
    margin-top: 80px;
  }
}

.about-text-wrapper {
  width: 60%;
  margin: 10px;
  padding: 25px;
  background-color: $light-grey-color;
}
